.widget {
  padding: .5rem;
  padding-bottom: 0;
  position: absolute;
  z-index: 3;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  transform: scale(.9);
  transition: all .5s ease-in-out;

  img {
    width: 100%;
    height: auto;
  }

  .name {
    color: black;
    font-family: "monumentextended", serif;
    font-size: 0.8rem;
    margin-top: -.3rem;
  }
}