.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.layer {
  width: 300%;
  height: 300%;
  position: absolute;
  transform: scale(1.2);
  display: flex;
  align-items: center;
  justify-content: center;


  .center {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.layer0 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerWrapper {
  position: absolute;
}

.reference {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    opacity: .5;
    transform: scale(0.3);
  }
}