.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.layer {
  background-color: aqua;
  width: max-content;
  height: max-content;
  position: absolute;
  transform: scale(0.9);
  display: flex;
  align-items: center;
  justify-content: center;

  .center {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.layer0 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerWrapper {
  position: absolute;
}

.reference {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    opacity: .5;
    transform: scale(0.3);
  }
}

//#pointerCursor {
//  height: 10px;
//  aspect-ratio: 1;
//  background-color: aqua;
//}